/*
four colors for this website.
  #222831
  #393e46
  #00adb5
  #eeeeee
 */
/* .map-property{
  fill : white;
  stroke : black;
} */

.tmp-title-color{
  text-align: center;
  color : #eeeeee;
  padding: 20px 20% 20px;
}

.tmp-title-white{
  text-align: center;
  color : #393e46;
  padding: 20px 20% 20px;
}

.button-color{
  background-color: #00adb5;
  color : #eeeeee;

}

.colored-section {
  background-color: #222831;
}

.white-section {
  background: #eeeeee;
}

.title-nav {
  color: #eeeeee;
  font-family: 'Sacramento', bold;
  font-size: 2rem;
}

#login {
  border: 1px solid #eeeeee;
}

#logout {
  border: 1px solid #eeeeee;
}

.head-title {
  color: #eeeeee;
  padding: 20px 20% 60px;
  font-size: 3rem;
  line-height: 1.5;
  text-align: center;
}

#status-div {
  padding-left: 10%;
  padding-right: 10%;

}

#signup-info {
  text-align: left;
  /* padding-left: 10%;
  padding-right: 10%; */
  padding-top: 10%;
  padding-right: 5%;
  padding-left: 5%;
  padding-bottom: 10%;
}

#signup {
  width: 100%;
}

.head-img {
  text-align: center;
}

.col-lg-6 {
  text-align: center;
}

#map {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.map-title{
  font-size: 4rem;
  font-weight: bold;
  padding: 0 20% 0;
}

.color-input{
  padding : 20px 22% 20px;
  font-weight: bold;
}

.circle-base {
  border-radius: 50%;
  height: 6px;
  width: 6px;
  position: absolute;
  background: white;
}

.classmate-img{
  width: 10px;
  margin: 10px;
  border-radius: 100%;
}

path:hover{
  fill-opacity : 0.4;
}

.selected{
  fill-opacity : 0.4;
}

#features {
  color : white;
  padding : 100px 0 100px;
  text-align: center;
}

#footer{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-p{
  margin-top: 15px;
  margin-bottom: 5px;
}

.footer-icon{
  padding : 1px 10px 0;
}

.copy-right{
  margin-bottom: 3px;
}

/* #china-map {
  width: 774px;
  height: 440px;
} */

.search-input {
  padding: 0% 20%;
  font-weight: bold;
}

#operation-info {
  text-align: center;
  padding: 10% 5% 5% 10%;
}