{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title>Login</title>
    </head>
    <body>
        <form method="POST" action="{% url 'CDapp:login' %}">
            {% csrf_token %}
            
            {% if form.errors %}
                <p>There is something wrong with what you enters</p>
            {% endif %}

            {% if next %}
                <p>You can't access this page</p>
            {% endif %}
            
            <p>Username: {{ form.username }}</p>
            <p>password: {{ form.password }}</p>

            <p><input type="submit" value="Login"></p>
            <input type="hidden" name="next" value="{{ next }}">

        </form>
            
    </body>
</html>