{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    {% include 'CDapp/components/headers.html' %}
    <body>
        <section class="container-fluid" id="main">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div>
                        <p id="login-title">Sign in</p>
                    </div>
                    
                    <div class="jumbotron" id="userinfo">
                        <div id="input-space">
                            <label id="username">Username or email address</label>
                            <div class="input-group">   
                                <!-- <input type="text" class="form-control" aria-describedby="basic-addon1"> -->
                                <p>{{ form.username }}</p>
                            </div>

                            <div class="row">
                                <div class="col-md-6"><label id="password">Password</label></div>
                                <div class="col-md-6"><a href="#" id="fpassword">Forgot password?</a></div>
                            </div>
                            
                            <div class="input-group"> 
                                <!-- <input type="text" class="form-control" aria-describedby="basic-addon2">      -->
                                <p>{{ form.password }}</p>    
                            </div>
                            <br />
                            <!-- <button type="submit" class="btn btn-primary" id="login" value="login">Login</button> -->
                            <p><input type="submit" value="Login"></p>
                        </div>
                    </div>

                    <div class="jumbotron" id="note">
                        <p id="note-info">
                            New to the website? <a href="{% url 'CDapp:register' %}"> Create an account.</a>
                        </p>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
            
        </section>
        

    </body>

</html>

