{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  {% include 'CDapp/components/headers.html' %}
  <body>
    <section class="colored-section" id="head">
      <section class="container-fluid">
        <!-- Nav Bar -->
        {% include 'CDapp/components/navbar.html' %}
      </section>
    </section>

    <section class="white-section" id="map">
      <form method="POST" action="{% url 'CDapp:user-list' %}">
        {% csrf_token %}
        <div class="input-group mb-3 search-input">
            <div class="input-group-prepend">
                <span class="input-group-text">University:</span>
            </div>
            <input type="text" class="form-control" name="university">
            <div class="input-group-prepend">
                <span class="input-group-text">Class Number:</span>
            </div>
            <input type="text" class="form-control" name="class-number">
            <button type="submit" class="btn btn-primary" name="action-purpose" value="search">Search</button>
        </div>
      </form>

      <form method="POST" action="{% url 'CDapp:user' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary" name="pre_create_new_students">Add new students</button>
      </form>

      <div class="map-svg">
        {% include 'CDapp/svg-html/img-china.html' %}
      </div>
    </section>

    <section class="white-section" id="footer">
      <p>
        <i class="footer-icon fab fa-twitter"></i>
        <i class="footer-icon fab fa-facebook-f"></i>
        <i class="footer-icon fab fa-instagram"></i>
        <i class="footer-icon fas fa-envelope"></i>
      </p>
      <p class="copy-right">© Copyright 2019 Classmates</p>
    </section>

    <script src="{% static 'CDapp/js/students_list_view.js' %}" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">
      window.onload = function() {  
        var context = {
          "cx": 543.1475830078125, 
          "cy": 246.71875,
          "r": 0,
          "id": "standard_1",
          "stroke": "white", 
          "stroke-width": "0",
          "fill": "white",
        }
        var circle_1 = makeSVG('circle', context);
        $("#china-map").children()[0].appendChild(circle_1);

        context["cx"] = 76.1475830078125;
        context["cy"] = 385.71875;
        context["id"] = "standard_2";
        var circle_2 = makeSVG('circle', context);
        $("#china-map").children()[0].appendChild(circle_2);

        var svg_x = $("#china-map").offset().left;
        var svg_y = $("#china-map").offset().top;
        
        $.getJSON("{% static 'CDapp/data/cpositions.json' %}", function(data) {
          for (var city_name in data) {
            var city_x = data[city_name][0];
            var city_y = data[city_name][1];
            markCityInsideSVG(city_x, city_y, city_name);
          }
        })

        if ({{has_info_flag}} == true) {
          var n = {{ students_info_length }};
          var data = {{ students_info|safe }};
          for(var counter=0; counter<n; counter++) {
            person_data = data[counter];
            name = person_data["name"];
            position = person_data["position"].split(",");
            // province = person_data["locating_province"];
            createPopoverInsideSVG(Number(position[0])+svg_x, Number(position[1])+svg_y, person_data);
            console.log(person_data);
          }
        }

        show_all_popover();
      };
    </script>
    <script>
      $(document).ready(function() {
        $('[data-toggle="popover"]').popover();
      });
   </script>

  </body>

</html>
